<%- include('./partials/header') -%>
  <div class='movies'>
    <h1>Mes films Favoris</h1>
    <div class='favorite-movies'>
      <div class='french-movies'>
        <% for( movie of frenchMovies) {%>
          <div><%= movie.title %> <%= movie.year %></div>
        <% } %>
      </div>
      <%- include('./partials/form') -%>
    </div> 
  </div>
  <%- include('./partials/footer') -%>
