<%- include('./partials/header') -%>
  <div>
    <h1>Page Movies</h1>
    <div class='french-movies'>
      <% for( movie of frenchMovies) {%>
        <div><%= movie.title %> <%= movie.year %></div>
      <% } %>
    </div>
    <%- include('./partials/form') -%>
  </div>
  <%- include('./partials/footer') -%>
